.title{
    width: 100%;
    height: 30px;
    display: flex;
    div{
        width: 50%;
        height: 30px;
        display: flex;
        align-items: center;
        h2{
            font-weight: bolder;
            color: rgba(0, 0, 0, 0.65);
            font-family: PingFangSC-Medium;
            margin-left: 4px;
        }
        .rbd_title{
            font-size: @rbd-sub-title-size;
            color: @rbd-sub-title-color;
            line-height: @rbd-sub-title-line-height;
        }
    }
}
:global {
    .ant-card{
        border-radius: 5px;
    }
}
.enterpriseBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .enterpriseInfo{
        width: 49%;
        background: rgba(42, 130, 228, 4%);
        background-color: #fff;
        border-radius: 5px;
        padding: 24px 30px 12px;
        display: flex;
        justify-content: space-between;
        .enterpriseInfo_left{
            width: 50%;
            .enterpriseName, .enterpriseId {
                width: 100%;
                font-size: @rbd-content-size;
                color: @rbd-content-color-secondary;
                line-height: @rbd-content-line-height;
                letter-spacing: 0;
                margin-bottom: 12px;
                p{
                    width: 100%;
                    span:last-child {
                        width: 200px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: @rbd-content-color;
                        line-height: @rbd-content-line-height;
                    }
                    &>span> span:first-child{
                        color: @rbd-content-color-secondary;
                        line-height: @rbd-content-line-height;
                    }
                } 
            }
        }
        .enterpriseInfo_right{
            width: 160px;
            height: 114px;
            margin-top: -20px;
        }
        
    }
    .enterpriseData{
        width: 49%;
        background: rgba(42, 130, 228, 4%);
        background-color: #fff;
        border-radius: 5px;
        padding: 24px 30px 12px;
        display: flex;
        justify-content: space-around;
        box-shadow: rgb(36 46 66 / 16%) 2px 4px 10px 0px;
        .piece{
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-direction: column;
            flex-direction: column;
            box-sizing: border-box;
            width: 108px;
            height: 108px;
            cursor: pointer;
            font-family: PingFangSC-Medium;
            padding-top: 40px;
            // background-image: linear-gradient(0deg, #fff, #e7ebf2);
            border: 2px solid #fff;
            // box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
            border-radius: 10px;
            transition: all .2s ease-in-out;
            p:last-child{
                color: @primary-color;
                width: 100%;
                text-align: center;
                font-size: @rbd-display-size;
                line-height: @rbd-display-line-height;
                font-weight: bolder;
                cursor: 'pointer';
              }
              p:first-child{
                font-size: @rbd-sub-title-size;
                color: @rbd-content-color-secondary;
                line-height: @rbd-sub-title-line-height;
              }
        }
    }
}
.clusterInfo{
    width: 100%;
    height: 246px;
    background: #fff;
    border-radius: 5px;
    justify-content: space-around;
    margin-bottom: 10px;
    .clusterInfo_title{
        width: 100%;
        height: 50px;
        padding-left: 30px;
        background: rgba(42, 130, 228, 6%);
        background-color: #fafbfc;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .setting{
            margin-right: 3%;
            svg{
                vertical-align: bottom;
            }
        }
        .clusterName{
            margin-right: 20px;
            font-size: @rbd-sub-title-size;
            line-height: @rbd-sub-title-line-height;
            font-weight: 700;
            display: flex;
            .status{
                margin-left: 20px;
                .circle{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: @rbd-success-status;
                    display: inline-block;
                    margin: 0px 6px;
    
                }
                span{
                    font-family: PingFangSC-Medium;
                }
            }
        }
       
    }
    .clusterInfo_content{
        width: 100%;
        padding: 12px;
        padding-left: 30px;
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        .content_left{
            width: 35%;
            height: 166px;
            display: flex;
            align-items: center;
            border-right: 1px solid #e3e3e3;
            .clusterIcon{
                width: 100px;
                height: 140px;
                p{
                    width: 100%;
                    text-align: center;
                }
                .icons{
                    width: 100px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                
            }
            .clusterVersion{
                width: 68%;
                display: flex;
                flex-flow: column;
                padding: 12px;
                p{
                    width: 100%;
                    margin-top: 4px;
                    font-size: @rbd-content-size;
                    line-height: @rbd-content-line-height;
                    color: @rbd-content-color;
                    display: flex;
                    flex-flow: nowrap;
                    align-items: center;
                    span:first-child{
                        margin-left: 4px;
                        color: @rbd-content-color-secondary;
                    }
                    .k8sName{
                        width: 50%;
                    }
                    .k8sVersion{
                        width: 50%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin-left: 6px;
                    }
                    .versionName{
                        width: 30%;
                    }
                    .version{
                        width: 70%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin-left: 6px;
                    }
                    .k8sName_en{
                        width: 65%;
                    }
                    .k8sVersion_en{
                        width: 35%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin-left: 6px;
                    }
                    .versionName_en{
                        width: 50%;
                    }
                    .version_en{
                        width: 50%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin-left: 6px;
                    }
                    .createTime_en{
                        width: 45%;
                    }
                    .createTimeVersion_en{
                        width: 55%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin-left: 6px;
                    }
                }
            }
        }
        .content_right{
            width: 65%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 12px;
            .content_data{
                p{
                    text-align: center;
                    color: @rbd-content-color-secondary;
                    font-size: @rbd-sub-title-size;
                    span{
                        font-size: @rbd-title-size;
                        color: @primary-color;
                        line-height: @rbd-title-line-height;
                        font-weight: bolder;
                        margin-right: 4px;
                    }
                }
            }
            .node{
                p{
                    text-align: center;
                    color: @rbd-content-color-secondary;
                    font-size: @rbd-sub-title-size;
                    span{
                        color: @primary-color;
                        font-size: @rbd-title-size;
                        font-weight: bolder;
                        margin-right: 4px;
                    }
                }
                .nodeData{
                    width: 180px;
                    text-align: center;
                    height: 120px;
                    line-height: 130px;
                    font-weight: bolder;
                    .running{
                        color: @rbd-success-status;
                        font-size: @rbd-display-size;
                        line-height: @rbd-display-line-height;
                        margin-right: 6px;
                    }
                    .sum{
                        color: @rbd-content-color-secondary;;
                        font-size: @rbd-title-size;
                    }
                }
            }
            
           
        }
        .error_troubleshoot_left{
            width: 20%;
            height: 166px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #e3e3e3;
            :global{
                .ant-empty-description{
                    margin-top: 16px;
                }
            }
        }
        .error_troubleshoot_right{
            width: 80%;
            display: flex;
            ul{
                width: 48%;
                padding: 0% 2%;
                div{
                    font-size: @rbd-title-size;
                    line-height: @rbd-title-line-height;
                    font-weight: 700;
                    margin-bottom: 6px;
                }
            }
        }
    }
}
.clusterInfo_Empty{
    width: 100%;
    font-family: PingFangSC-Medium;
    height: 200px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.appAlert{
    width: 100%;
    font-family: PingFangSC-Medium;
    height: 210px;
    background: rgba(42, 130, 228, 4%);
    background-color: #fff;
    padding: 24px;
    border-radius: 5px;
    // overflow-x: hidden;
    // overflow-y: scroll;
    .contentAlert{
        display: flex;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #e3e3e3;
        align-items: center;
        justify-content: space-between;
        div{
            padding: 0px 12px;
            height: 40px;
            display: flex;
            align-items: center;
            span{
                margin-left: 2px;
            }
            .spanStyle{
                text-decoration: underline;
                color: #4077c3;
                cursor: pointer;
            }
        }
    }
}
.appAlert::-webkit-scrollbar{
    display: none;
}
.ulStyle{
    list-style: none;
    ul{
        margin-bottom: 1em;
        li {
            margin-bottom: 5px;
        }
    }
}