.description{
    :global{
        .ant-descriptions-view{
            .ant-descriptions-item-label{
                color: @rbd-content-color-secondary;
                font-size: 14px;
                font-weight:600;
            }
            .ant-descriptions-item-content{
                padding-left: 10px !important;
                color: @rbd-content-color;
            }
        }
    }
}