.description{
    :global{
        .ant-descriptions-view{
            .ant-descriptions-item-label{
                color: rgba(141, 155, 173, 1);
                font-size: 14px;
                font-weight:600;
            }
            .ant-descriptions-item-content{
                padding-left: 10px !important;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}