.InfoStyle{
    display: flex;
    align-items: center;
    :global{
        .ant-col-3{
            text-align: center;
            height: 100%;
            padding-right: 20px;
            p:nth-of-type(1){
                font-size: 20px;
                line-height: 28px;
                font-weight: 600;
                color: @rbd-content-color;
            }
            p:nth-of-type(2){
                margin-top: 6px;
                font-size: 14px;
                line-height: 20px;
                color: @rbd-content-color-secondary;
                font-weight:600;
            }
        }
        .ant-col-15{
            height: 100%;
            display: flex;
            justify-content: end;
            button{
                margin-right: 10px;
            }
        }
    }
}
.ClusterInfo{
   :global{
    .ant-descriptions-view{
        padding: 30px 10px 0;
        border-top: 1px solid #eff4f9;
        .ant-descriptions-row{
            display: flex;
            .ant-descriptions-item{
                width: 33%;
                display: flex;
                align-items: center;
                .ant-descriptions-item-content{
                    width: 70%;
                    padding-left: 10px !important;
                    color: @rbd-content-color;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .ant-descriptions-item-label{
                    color: @rbd-content-color-secondary;
                    font-size: 14px;
                    font-weight:600;
                }
            }
        }
    }
   }
}
.nodeType{
    span::after{
        content: " + ";
        margin: 0 4px;
    }
   span:last-child::after{
    content:''
   }
}
.cmd {
    background: #000;
    color: #fff;
    line-height: 16px;
    display: block;
    font-size: 10px;
    font-family: PingFangSC-Regular, sans-serif;
  }