@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.import {
  border: solid #ecf0f1 2px;
  max-height: 100px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  margin: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.importicon {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-right: solid #ecf0f1 1px;
  text-align: center;

  svg {
    color: @primary-color;
    width: 80px;
  }
}

.importDesc {
  flex: auto;
  padding: 16px;
}

.provider {
  border: solid #ecf0f1 1px;
  display: flex;
  width: 100%;
  padding: 16px;
  height: 130px;
  cursor: pointer;
}

.provider:hover,
.import:hover,
.providerActive {
  border: solid @primary-color 2px;
}

.providericon {
  width: 120px;

  svg {
    height: 50px;
  }
}

.providerDesc {
  padding-left: 16px;
  overflow: hidden;

  p {
    margin: 0;
  }
}

.providerChecked {
  position: absolute;
  right: -35px;
  bottom: -35px;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: @primary-color;
  font-size: 18px;
  transform: rotate(315deg);

  svg {
    position: absolute;
    top: -25px;
    left: -16px;
    height: 12px;
    transform: rotate(45deg);
    vertical-align: middle;
  }
}

.disable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 130px;
  background: rgba(221, 221, 221, 0.8);
}

.noCluster {
  text-align: center;
  display: block;
  width: 100%;
}

.describe {
  background: rgba(22, 184, 248, 0.1);
  padding: 8px;

  ul {
    margin: 0;
  }

  li {
    line-height: 24px;
  }
}

.initModal {
  p {
    text-align: left;
  }
}
