.stepss {
    margin-left: -60px !important;

    :global {
        .ant-steps-item-content {
            width: 145px;
        }

        .ant-steps-item-icon {
            margin-left: 60px!important;
        }

        .ant-steps-item-tail {
            margin-left: 72px;
        }

        .ant-steps-item-content .ant-steps-item-title {
            font-size: 13px;
        }
    }
}