@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';
.hands {
  cursor: default !important;
}
.activitiesList {
  padding: 0 24px 8px 24px;

  .username {
    color: @text-color;
  }

  .event {
    font-weight: normal;
  }
}
.timeShow {
  float: right;
  color: rgba(0, 0, 0, 0.45);
}
.contents {
  margin: 10px 24px 0;
}

.cancelMargin {
  :global {
    .ant-table-scroll-position-left {
      margin-top: 0 !important;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .contents {
    margin: 10px 0 0;
  }
}

.pageHeaderContent {
  background: #fff;
  display: flex;

  .avatar {
    flex: 0 1 72px;
    margin-bottom: 8px;

    & > span {
      border-radius: 72px;
      display: block;
      width: 72px;
      height: 72px;
    }
  }

  .content {
    position: relative;
    top: 0px;
    margin: 0 24px;
    flex: 1 1 auto;
    color: @text-color-secondary;
    line-height: 22px;

    .contentTitle {
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      color: @heading-color;
      margin: 12px;
    }
  }
}

.teamListStyle {
  display: flex;
  margin-top: 5px;

  div {
    width: 30%;
  }
}

.extraContent {
  background: #fff;
  .clearfix();
  white-space: nowrap;
  // border    : 1px solid #BBBBBB;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  padding: 10px 0;

  .statItem {
    width: 16.6%;
    text-align: center;

    > p {
      width: 100%;
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 22px;
    }

    > div {
      cursor: pointer;
      // color     : @text-color-secondary;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
      color: rgba(0, 0, 0, 0.85);
      font-size: 22px;
      line-height: 30px;
    }

    &:after {
      // background-color: @border-color-split;
      position: absolute;
      top: 8px;
      right: 0;
      width: 1px;
      height: 40px;
      content: '';
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

.members {
  a {
    display: block;
    margin: 12px 0;
    line-height: 24px;
    height: 24px;
    .textOverflow();

    .member {
      font-size: @font-size-base;
      color: @text-color;
      line-height: 24px;
      max-width: 100px;
      vertical-align: top;
      margin-left: 12px;
      transition: all 0.3s;
      display: inline-block;
      .textOverflow();
    }

    &:hover {
      span {
        color: @primary-color;
      }
    }
  }
}

.modals {
  padding: 0 30px;

  :global {
    .ant-modal-header {
      border: none;
    }
  }
}

.projectList {
  :global {
    .ant-card-meta-description {
      color: @text-color-secondary;
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }

  .cardTitle {
    font-size: 0;

    a {
      color: @heading-color;
      margin-left: 12px;
      line-height: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: top;
      font-size: @font-size-base;

      &:hover {
        color: @primary-color;
      }
    }
  }

  .projectGrid {
    width: 33.33%;
  }

  .projectItemContent {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    .textOverflow();

    a {
      color: @text-color-secondary;
      display: inline-block;
      flex: 1 1 0;
      .textOverflow();

      &:hover {
        color: @primary-color;
      }
    }

    .datetime {
      color: @disabled-color;
      flex: 0 0 auto;
      float: right;
    }
  }
}

.datetime {
  // color   : @disabled-color;
  color: @text-color;
  font-weight: normal;
}

.datatime_float {
  float: right;
  color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }

  .members {
    margin-bottom: 0;
  }

  .extraContent {
    margin-left: -44px;

    .statItem {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }

  .members {
    margin-bottom: 0;
  }

  .extraContent {
    float: none;
    margin-right: 0;

    .statItem {
      padding: 0 16px;
      text-align: left;

      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .extraContent {
    margin-left: -16px;
  }

  .projectList {
    .projectGrid {
      width: 50%;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    display: block;

    .content {
      margin-left: 0;
    }
  }

  .extraContent {
    .statItem {
      float: none;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .projectList {
    .projectGrid {
      width: 100%;
    }
  }
}

.tableList {
  .tableListOperator {
    margin-bottom: 16px;

    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;

      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }

      .ant-form-item-control {
        line-height: 32px;
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}

.stepsbox {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stepssuccess {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .stepssuccessbj {
    display: inline-block;
    width: 34px;
    height: 34px;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    border-radius: 34px;
    background-color: #1890ff;

    span {
      color: #fff;
      position: relative;
      top: 3px;
      line-height: 1;
    }
  }

  .stepssuccesslux {
    position: absolute;
    left: 0;
    top: 18px;
    margin-left: 71px;
    height: 1px;
    background-color: #1890ff;
    width: 100%;
    box-sizing: border-box;
  }

  .stepssuccesscontent {
    margin-top: 8px;
    text-align: center;

    div {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 34px;
    }
  }
}

.stepsinfo {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .stepsinfobj {
    display: inline-block;
    width: 34px;
    height: 34px;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    border-radius: 34px;
    background-color: #fff;
    border: 1px solid #a8a2a2;

    span {
      display: inline-block;
      position: relative;
      top: 3px;
      line-height: 1;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background-color: #fff;
      border: 1px solid #a8a2a2;
    }
  }

  .stepsinfolux {
    position: absolute;
    left: 0;
    top: 18px;
    margin-left: 71px;
    height: 1px;
    background-color: #a8a2a2;
    width: 100%;
    box-sizing: border-box;
  }

  .stepsinfocontent {
    margin-top: 8px;
    text-align: center;

    div {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.45);
      line-height: 34px;
    }
  }
}

.connect {
  padding: 20px;
  border-radius: 15px;
  // border       : 2px solid rgba(63, 81, 181, 1);
  border: 2px solid;
  border-color: #1890ff;
  position: relative;

  .icon {
    position: absolute;
    top: -22px;
    font-size: 30px;
    color: #1890ff;
    left: 22px;
  }
}
