.container{
  height: calc(100% - 104px);
  margin: 18px;
  .info{
    height: 20%;
    width: 100%;
    background-color: blue;
  }
  .appList{
    height: 70%;
    width: 100%;
    background-color: green;
  }
}
