@import "~antd/lib/style/themes/default.less";

.gatewayContainer {
    background-color: #fff;
}

.gatewayHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}
