{
  "rules": {
    "global-require": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "eqeqeq": 0,
    "curly": "error",
    "quotes": ["error", "double"]
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "ecmaFeatures": {
    "classes": true
  }
}
