.automaTictelescopingSwitch {
  :global {
    .ant-switch::after {
      background: #C8C8C8 !important;
      width     : 20px !important;
      height    : 20px !important;

    }
  }
}


.btns,.btns:hover {
  background    : #4D73B1;
  box-shadow    : 1px 0 2px 0 rgba(0, 0, 0, 0.30);
  font-family   : PingFangSC-Regular;
  font-size     : 12px;
  color         : #FFFFFF;
  letter-spacing: 0;
}
.bor {
  border-left: 1px solid #F4F4F4;
  height     : 70px;
  display    : flex;
  align-items: center;
}
.nameStyle{
  margin-left: 5px;
  svg{
      vertical-align: sub;
  }
}
.linkStyle{
  font-weight: 600;
}
.rowStyle{
  cursor: pointer !important;
}
.cmd {
  background: #000;
  color: #fff;
  line-height: 16px;
  display: block;
  font-size: 10px;
  font-family: PingFangSC-Regular, sans-serif;
}