.titleStyle {
    text-align: center;

    :global {
        .ant-col-6 {
            font-size: @rbd-sub-title-size;
            color: @rbd-content-color-secondary;
            line-height: @rbd-sub-title-line-height;
            font-weight: 600;
        }
    }
}

.EchartsStyle {
    :global {
        .ant-col-6 {
            display: flex;
            justify-content: center;
        }
    }
}

.bottomStyle {
    width: 100%;
    position: absolute;
    bottom: 12px;
    text-align: center;

    :global {
        .ant-col-6 {
            p {
                font-size: @rbd-content-size;
                line-height: @rbd-content-line-height;
                color: @rbd-content-color-secondary;
                font-weight: 500;
                margin-bottom: 0 !important;
            }

            p:nth-of-type(1) {
                span {
                    margin-right: 6px;
                    color: @primary-color;
                    font-weight: 600;
                    font-size: @rbd-title-size;
                    line-height: @rbd-title-line-height;

                }
            }

            p:nth-of-type(2) {
                span {
                    margin-right: 6px;
                    font-weight: 600;
                    font-size: @rbd-title-size;
                    color: @rbd-content-color-secondary;
                    line-height: @rbd-title-line-height;

                }
            }
        }
    }
}