.linkStyle{
    font-weight: 600;
}
.nameStyle{
    margin-left: 5px;
    svg{
        vertical-align: sub;
    }
}
.rowStyle{
    cursor: pointer !important;
}
.tdStyle{
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 13px;
}
.tdStyle+p{
    margin-bottom: 0px;
    font-size: 12px;
}
.describe {
    background: rgba(22, 184, 248, 0.1);
    padding: 8px;
    z-index: 1 !important;
    li {
      line-height: 24px;
    }
  }
  
  .editable-cell {
    position: relative;
  }
  
  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
  
  .cmd {
    position: relative;
    padding: 16px;
    background: #000;
    color: #fff;
    line-height: 16px;
    display: block;
    font-size: 10px;
    font-family: PingFangSC-Regular, sans-serif;
  }
  .copy {
    position: absolute;
    right: 4px;
    top: 5px;
    font-size: 16px;
  }

.cardContainer {
    border: 1px solid fade(@primary-color, 12%);
    border-radius: 22px;
    overflow: hidden;
    background-color: #fff;
    background-image: radial-gradient(circle at top right,
            fade(@primary-color, 8%) 0%,
            fade(@primary-color, 4%) 42%,
            transparent 78%);
    margin-bottom: 16px;
}

.cardHeader {
    padding: 24px 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBody {
    padding: 0 24px 24px;

    :global {
        .ant-table {
            overflow: hidden;
            border-radius: 16px;
            background: #fff;
        }

        .ant-table-thead>tr>th {
            color: @rbd-content-color-secondary;
            font-size: @rbd-auxiliary-size;
            line-height: @rbd-auxiliary-line-height;
            font-weight: 600;
            background: fade(@primary-color, 3%);
            border-bottom: 1px solid @border-color-base;
        }

        .ant-table-tbody>tr>td {
            color: @rbd-content-color;
            font-size: @rbd-content-size;
            line-height: @rbd-content-line-height;
            border-bottom: 1px solid fade(@border-color-base, 70%);
        }

        .ant-table-tbody>tr:hover>td {
            background: fade(@primary-color, 4%);
        }
    }
}

.titleStyle {
    display: flex;
    align-items: center;

    span:nth-of-type(1) {
        margin-right: 6px;

        svg {
            vertical-align: bottom;
        }
    }

    span:nth-of-type(2) {
        font-weight: bolder;
        font-size: @rbd-sub-title-size;
        color: @heading-color;
        line-height: @rbd-sub-title-line-height;
    }
}
