.content{
  margin-top: 24px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxs:hover{
    box-shadow: @rbd-card-shadow-hover;
}
.boxs{
    margin: 10px 0px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: @rbd-background-color;
    box-shadow: @rbd-min-card-shadow;
  transition: box-shadow 0.3s ease-in-out;

    p{
        margin-bottom: 0em;
    }
    :global{
        .ant-card-body{
          padding: 16px;
          display: flex;
          align-items: center;
        }
        
    }
    .icons{
      display: flex;
      justify-content: center;
      align-items: center;
      .imgs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img,svg {
          min-width: 44px;
          max-width: 60px;
          height: 44px;
        }
      }
    }
    .pluginName{
        color: @primary-color;
        text-decoration: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 14px;
        font-family: PingFangSC-Medium;
        letter-spacing: 0;
    }
    .pluginDesc{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #999999;
        letter-spacing: 0;
    }
    .btnBox{
        font-size: 14px;
        color: #4d73b1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    .statusBox{
        display: flex;
        align-items: center
    }
    .versions, .author{
        font-size: 12px;
        color: #999999; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: PingFangSC-Regular;
    }
}

.pluginCard{
  :global{
    .ant-card-body{
      // padding: 6px 0px;
    }
  }
  .tabsStyle {
    overflow: hidden !important;
  
    :global {
      .ant-tabs-tab:first-child {
        border-left: 0px solid #E2E2E2 !important;
      }
  
      .ant-tabs-nav-container {
        height: 100% !important;
      }
  
      .ant-tabs-tab {
        background-color: #fff !important;
        height: 41px !important;
        border: 0 !important;
      }
  
      .ant-tabs-bar {
        border: 1px solid #fff !important;
        border-bottom: 1px solid transparent !important;
      }
  
      .ant-tabs-tab-active {
        height: 41px !important;
        border: 0px solid #4d73b1 !important;
        border-bottom: 0px solid #fff !important;
        background-color: #fff !important;
      }
  
      .ant-tabs-top-content {
        border-radius: 5px;
      }
  
      .ant-tabs-card-content {
        background-color: #fff;
        box-shadow: #242e4229 2px 4px 10px 0px !important;
      }
  
      .ant-tabs-nav-scroll {
        overflow: hidden !important;
  
        .ant-tabs-tab:first-child {
          border-left: none !important;
        }
      }
  
      .ant-tabs-nav-container-scrolling {
        overflow: hidden !important;
      }
  
      .ant-tabs-nav-wrap {
        margin-right: 0 !important;
      }
    }
  }
  
}

