.buttonStyle{
    svg{
        vertical-align: middle;
        margin-left: 2px;
    }
}
.inputNumberStyle {
    :global {
        .ant-input-number {
            width: 100% !important;
        }
    }
}