.topTittle {
    font-weight: bold;
    color: #000;
    font-size: 16px;
    display: inline-block;
    width: 200px;
    height: 100%;
}


.topoBtn {
    :global {
        .ant-radio-button-wrapper-checked {
            box-shadow: -1px 0 0 0 #d9d9d9;
        }
    }
}

.topoBtn div div .ant-card-body {
    padding: 0;
}

.topoBtn .ant-card-body .setting__content___2qXY3 {
    margin-bottom: 0 !important;
}

.TitleButton {
    color: #000;
    background-color: #ddd;
    width: 120px;
    border: 1px solid #bbb !important;
    margin-left: 1px;
    font-size: 13px;
}

.TitleButtonAct {

    color: #57ACFE !important;
    background-color: #fff !important;
    width: 120px;
    border: 1px solid #bbb !important;
    margin-left: 1px;
    font-size: 13px;
}

.contantMoudel {

    :global(.ant-card.ant-card-bordered .ant-card-body) {
        padding: 0px;
    }

    :global(.ant-card.ant-card-bordered .ant-card-body div div .ant-card.ant-card-bordered) {
        margin-bottom: 0px;
    }
}

.contantMoudel2 {
    margin-bottom: 16px;

    :global(div div div) {
        margin-bottom: 0 !important;
    }
}

.contantMoudel3 {
    :global(div div .setting__content___2qXY3) {
        min-height: 0;
        margin-bottom: 0 !important;
    }
}

.contantMoudel4 {
    :global(div div div th) {
        text-align: center;
    }

    :global(tr td) {
        text-align: center;
    }

    :global(div div div ul) {
        display: none;
    }
}

.contantMoudel5 {
    :global(.ant-card.ant-card-bordered .ant-card-body) {
        padding: 0;
    }

    :global(.ant-card.ant-card-bordered .ant-card-body div div .ant-card.ant-card-bordered) {
        margin-bottom: 0px;
    }
}