@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.customBtn {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  :global {
    .ant-btn-primary[disabled] {
      color: #fff !important;
      background-color: @primary-color !important;
      border-color: @primary-color !important;
    }
  }
}
.versions {
  color: @primary-color;
}
.cardList {
  .card {
    :global {
      .ant-card-meta-avatar {
        margin-left: -7px;
      }

      .ant-card-meta-title {
        margin-bottom: 12px;

        & > a {
          display: inline-block;
          max-width: 100%;
          color: @heading-color;
        }
      }

      .ant-card-actions {
        background: #f7f9fa;
      }

      .ant-card-body:hover {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }

  .item {
    height: 64px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }

    .ant-list-item-meta {
      flex: inherit;
      width: 35%;
    }
  }
}

.tabss {
  background: #fff;
  min-height: 500px;

  :global {
    .ant-tabs-bar {
      margin: 0px;
    }

    .ant-list-split .ant-list-item:last-child {
      border-bottom: 1px solid #e8e8e8;
    }

    .ant-list-item-meta-title > a {
      color: @primary-color !important;
    }

    .ant-list-item-action {
      margin-left: 0px;
    }
  }
}

.textzt {
  color: rgba(0, 0, 0, 0.65);
  span {
    display: inline-block;
    margin: 0 2px;
    color: #1990ff !important;
  }
}

.zsldis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  line-height: 50px;

  span {
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    height: 50px;
    line-height: 50px;
  }

  p {
    margin-bottom: 0;
  }

  :global {
    .ant-form-item-label {
      line-height: 50px !important;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.zslbor,
.zsllbor {
  // border   : 1px solid #666;
  height: 500px;
  // overflow : auto;
}

.zsllbor {
  padding: 20px;
}

.extraImg {
  width: 195px;
  margin-top: -60px;
  text-align: center;

  img {
    width: 100%;
  }
}

.newButton {
  width: 100%;
  height: 188px;
  color: @text-color-secondary;
  background-color: #fff;
  border-color: @border-color-base;
  border-radius: @border-radius-sm;
}

.cardAvatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.cardDescription {
  .textOverflowMulti();
}

.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 16px;

  a {
    margin-right: 32px;

    img {
      width: 24px;
    }
  }

  img {
    margin-right: 8px;
    vertical-align: middle;
  }
}

.zslcheck {
  display: flex;
  justify-content: center;

  .zslIcon {
    // position  : absolute;
    // left      : 0;
    // display   : inline-block;
    // width     : 20px;
    // height    : 20px;
    // background: #fff;
    // z-index   : 999;
    margin-right: 5px;
  }

  .zslIcon i {
    color: #ff9800;
  }

  :global {
    .ant-checkbox-wrapper {
      width: 100%;
    }
  }
}

.zslGroup {
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
}

.zslMt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
}

.active {
  background: @primary-3;
  z-index: 1;
  color: @primary-color !important;

  :global {
    .anticon {
      visibility: visible;
    }
    .ant-checkbox-wrapper {
      color: @primary-color !important;
    }
  }
}

.zslcen {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.zslborl {
  border-bottom: 1px solid #666;
  text-align: center;
  margin: 0px !important;
}

.zslborr {
  border-right: 1px solid #666;
  height: 60px;
  line-height: 60px;
}

.zslh {
  height: 60px;
  line-height: 60px;
}

.listContent {
  font-size: 0;
  width: 55%;

  .listContentItem {
    display: inline-block;
    margin-left: 40px;
    color: @text-color-secondary;
    font-size: @font-size-base;
    vertical-align: top;
    width: 24%;

    > span {
      line-height: 20px;
    }

    > p {
      margin-top: 4px;
      margin-bottom: 0;
      line-height: 22px;
    }
  }
}

.standardList {
  :global {
    .ant-card-head {
      border-bottom: none;
    }

    .ant-card-head-title {
      padding: 24px 0;
      line-height: 32px;
    }

    .ant-card-extra {
      padding: 24px 0;
    }

    .ant-list-pagination {
      margin-top: 24px;
      text-align: right;
    }

    .ant-avatar-lg {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
  }

  .headerInfo {
    position: relative;
    text-align: center;

    & > span {
      display: inline-block;
      margin-bottom: 4px;
      color: @text-color-secondary;
      font-size: @font-size-base;
      line-height: 22px;
    }

    & > p {
      margin: 0;
      color: @heading-color;
      font-size: 24px;
      line-height: 32px;
    }

    & > em {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 56px;
      background-color: @border-color-split;
    }
  }

  .extraContentSearch {
    width: 272px;
    margin-left: 16px;
  }
}

@media screen and (max-width: @screen-xs) {
  .standardList {
    :global {
      .ant-list-item-content {
        display: block;
        flex: none;
        width: 100%;
      }

      .ant-list-item-action {
        margin-left: 0;
      }
    }

    .listContent {
      margin-left: 0;

      & > div {
        margin-left: 0;
      }
    }

    .listCard {
      :global {
        .ant-card-head-title {
          overflow: visible;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .standardList {
    .extraContentSearch {
      width: 100%;
      margin-left: 0;
    }

    .headerInfo {
      margin-bottom: 16px;

      & > em {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .standardList {
    .listContent {
      & > div {
        display: block;
      }

      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }

  .listCard {
    :global {
      .ant-radio-group {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

.standardListForm {
  :global {
    .ant-form-item {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 32px;
        padding-top: 4px;
      }
    }
  }
}

.formResult {
  width: 100%;

  [class^='title'] {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }

  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;

    a {
      margin-right: 16px;
    }

    img {
      margin-right: 4px;
    }
  }
}

@media screen and (max-width: @screen-lg) and (min-width: @screen-md) {
  .standardList {
    .listContent {
      & > div {
        display: block;
      }

      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .standardList {
    .listContent {
      & > div {
        margin-left: 24px;
      }

      & > div:last-child {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .standardList {
    .listContent {
      text-align: right;

      & > div:last-child {
        top: 0;
      }
    }
  }
}
