@import '~antd/lib/style/themes/default.less';

.headerBox {
  display: flex;
  align-items: center;
  background: #ffffff;
}

.icons:hover {
  background: @primary-color;
}
.verticalCen {
  display: flex;
  align-items: center;
  svg {
    margin: 0;
  }
}
.icons {
  background: #d8d8d8;

  i {
    color: #ffffff;
    font-size: 28px;
  }

  cursor: pointer;
  width: 33px;
  line-height: 98px;
  text-align: center;
}
.tabsStyle{
  margin: 10px 0px 0;
  padding: 10px 32px 0;
  background: #f1f2f5;
  height: 51px;
  border-bottom: 1px solid #4d73b1;
  .tabs {
    margin: 0 0 -17px -8px;

    overflow: visible !important;
    :global{
      .ant-tabs-tab{
        background-color: #F1F2F5 !important;
        margin-right: 0px !important;
        border: 1px solid  transparent !important;
      }
      .ant-tabs-bar{
        border-bottom: 1px solid #4d73b1 !important;
        margin: 0;
        padding-bottom: 1px !important;
      }
      .ant-tabs-nav-container{
        overflow: visible !important;
      }
      .ant-tabs-tab-active{
        height: 41px !important ;
        border: 1px solid #4d73b1 !important;
        border-bottom: 1px solid #fff !important;
        background-color: #fff !important;
      }
      .ant-tabs-nav-scroll{
        overflow: visible !important;
      }
      .ant-tabs-nav-container-scrolling{
        overflow: visible !important;
      }
    }
  }
}
.pageHeader {
  // background: @component-background;
  padding: 16px 32px 0;
  margin-top: 24px;
  // border-bottom: @border-width-base @border-style-base @border-color-split;

  .detail {
    display: flex;
  }

  .row {
    display: flex;
  }

  .breadcrumb {
    margin-bottom: 16px;
  }

  .tabs {
    margin: 0 0 -17px -8px;

    :global {
      .ant-tabs-bar {
        border-bottom: @border-width-base @border-style-base @border-color-split;
      }
    }
  }

  .logo {
    flex: 0 1 auto;
    margin-right: 16px;
    padding-top: 1px;

    > img {
      width: 28px;
      height: 28px;
      border-radius: @border-radius-base;
      display: block;
    }
  }

  .title {
    font-size: @rbd-sub-title-size;
    line-height: @rbd-sub-title-line-height;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    letter-spacing: 0;
    margin-bottom: 0em;
  }
  .title_svg{
    margin-right: 4px;
  }
  .action {
    margin-left: 56px;
    min-width: 266px;

    :global {
      .ant-btn-group:not(:last-child),
      .ant-btn:not(:last-child) {
        margin-right: 8px;
      }

      .ant-btn-group > .ant-btn {
        margin-right: 0;
      }
    }
  }

  .content {
    font-size: @rbd-auxiliary-size;
    color: @rbd-auxiliary-color-secondary !important;
    letter-spacing: 0;
    line-height: 23px;
    line-height: @rbd-auxiliary-line-height;
  }

  .title,
  .action,
  .content,
  .extraContent,
  .main {
    flex: auto;
  }

  // .title{
  //   margin-bottom: 0;
  // }
  .action {
    margin-bottom: 10px;
  }
  .content{
    margin-bottom: 0;
    p{
      margin-bottom: 0;
    }
  }
  .logo,
  .extraContent {
    margin-bottom: 10px;
  }

  .action,
  .extraContent {
    text-align: right;
  }

  .extraContent {
    min-width: 242px;
  }
}

@media screen and (max-width: @screen-xl) {
  .pageHeader {
    .extraContent {
      margin-left: 44px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .pageHeader {
    .extraContent {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .pageHeader {
    .row {
      display: block;
    }

    .action,
    .extraContent {
      margin-left: 0;
      text-align: left;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeader {
    .detail {
      display: block;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .pageHeader {
    .action {
      :global {
        .ant-btn-group,
        .ant-btn {
          display: block;
          margin-bottom: 8px;
        }

        .ant-btn-group > .ant-btn {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
  }
}