.btns,
.btns:hover {
  background: @primary-color;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  margin-right: 20px;
}
.bor {
  border-left: 1px solid #f4f4f4;
  height: 70px;
  display: flex;
  align-items: center;
}
.infrastructureCard{
  :global{
    .ant-col-3 span{
      font-size: @rbd-content-size;
      color: @rbd-content-color;
      line-height: @rbd-content-line-height;
    }
    .ant-col-17 span{
      font-size: @rbd-content-size;
      color: @rbd-content-color-secondary;
      line-height: @rbd-content-line-height;
    }
  }
}
.tabBarStyle{
  overflow: visible !important;

  :global {
    .ant-tabs-nav-container {
      overflow: visible !important;
      // margin-left: 24px;
    }
    .ant-tabs-nav-container {
      height: 38px !important;
    }
    .ant-tabs-tab{
      height: 38px !important;
      background-color: #fff !important;
      margin-right: 0px !important;
      // border: 1px solid transparent !important;
      border-radius: 0 !important;
      border: 1px solid #E2E2E2 !important;
      border-left: none !important;
      box-sizing: border-box;
    }
    .ant-tabs-tab:first-child{
      border-left: 1px solid #E2E2E2 !important;
    }
    .ant-tabs-bar{
      // border-bottom: 1px solid @primary-color !important;
      margin: 0;
      // padding-bottom: 1px !important;
    }
    .ant-tabs-tab-active{
      // height: 41px !important ;
      // border: 1px solid @primary-color !important;
      // border-bottom: 1px solid #fff !important;
      color: @primary-color !important;
    }
    .ant-tabs-ink-bar {
      bottom: -1px !important;
    }

    .ant-tabs-top-content {
      border-radius: 5px;

    }

    .ant-tabs-card-content {
      // padding-top: 26px;
      background-color: #fff;
      // box-shadow: #242e4229 2px 4px 10px 0px !important;
      padding: 24px 0;
      // z-index: 99;
    }

    .ant-tabs-nav-scroll {
      overflow: visible !important;
    }

    .ant-tabs-nav-container-scrolling {
      overflow: visible !important;
    }
  }
}
.plugin_container{
  width: 400px;
}
.btnBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.teamMinTit{
  font-size: @rbd-content-size;
  color: @rbd-sub-title-color;
  line-height: @rbd-content-line-height;
  font-weight: 500;
}
.alert_style {
  margin-bottom: 20px !important;
}
.svg_style {
  display: flex;
  align-items: center;
  span {
    font-weight: 500;
    display: block !important;
    margin-left: 6px !important;
  }
}
.markdown {
  padding: 20px 30px;
  background-color: #e8e8e8;
  border-radius: 10px;
  margin-bottom: 16px;
}
.spin_style {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update_p_style {
  text-align: center;
  color: @primary-color;
  padding-top: 10px;
  margin-bottom: 0;
}
.p_style {
  text-align: center;
  padding-top: 20px;
  span {
    font-weight: 700;
    color: @primary-color;
  }
}
.modal_footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  :global {
    .ant-btn:nth-child(1) {
      margin-right: 30px;
    }
  }
}
.panel_style {
  :global {
    .ant-collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .ant-collapse-extra {
      font-size: 12px !important;
    }
  }
}
.modal_style {
  :global {
    .ant-modal-footer {
      border: none !important;
    }
  }
}
.spin_box {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    .ant-spin-text {
      margin-top: 8px;
    }
  }
}
.spin_box_success {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    .ant-spin-text {
      margin-top: 8px;
    }
    .anticon-check-circle {
      color: @success-color !important;
    }
    .ant-spin-text {
      color: @success-color !important;
    }
  }
}
.noversion{
  margin-bottom: 0;
  span{
    font-weight: 600;
    display: inline-block;
    padding: 0 4px;
    font-size: 16px;
  }
}
.DescriptionsTitle{
  color: @rbd-content-color;
  span{
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;

  }
  span:nth-of-type(1){
    color: @primary-color;
  }
  span:nth-of-type(2){
    color: @success-color;
  }
}