.automaTictelescopingSwitch {
  :global {
    .ant-switch::after {
      background: #c8c8c8 !important;
      width: 20px !important;
      height: 20px !important;
    }
  }
}

.btns,
.btns:hover {
  background: #4d73b1;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  margin-right: 20px;
}
.bor {
  border-left: 1px solid #f4f4f4;
  height: 70px;
  display: flex;
  align-items: center;
}
:global {
  .ant-switch {
    min-width: 32px !important;
    width: 32px !important;
    height: 14px !important;
    background: rgba(234, 234, 234, 1) !important;
    border-radius: 7px !important;
  }

  .ant-switch::after {
    box-shadow: none !important;
    background: #c8c8c8 !important;
    width: 20px !important;
    height: 20px !important;
    top: -5px !important;
    left: -5px !important;
  }

  .ant-input-disabled {
    background: #e9e9e9 !important;
  }

  .ant-switch-checked {
    background-color: #a8f3b7 !important;
  }

  .ant-switch-checked::after {
    left: 118% !important;
    margin-left: -1px !important;
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
    background-color: #21b174 !important;
  }
}
.tabBarStyle{
  overflow: visible !important;
  :global{
    .ant-tabs-nav-container{
      overflow: visible !important;
      margin-left: 24px;
    }
    .ant-tabs-tab{
      background-color: #F1F2F6 !important;
      margin-right: 0px !important;
      border: 1px solid  transparent !important;
    }
    .ant-tabs-bar{
      border-bottom: 1px solid #4d73b1 !important;
      margin: 0;
      padding-bottom: 1px !important;
    }
    .ant-tabs-tab-active{
      height: 41px !important ;
      border: 1px solid #4d73b1 !important;
      border-bottom: 1px solid #fff !important;
      background-color: #fff !important;
    }
    .ant-tabs-top-content{
      border-radius: 5px;

    }
    .ant-tabs-card-content{
      // padding-top: 26px;
      background-color: #fff;
      box-shadow: #242e4229 2px 4px 10px 0px !important;
      padding: 10px 24px;
      // z-index: 99;
    }
    .ant-tabs-nav-scroll{
      overflow: visible !important;
    }
    .ant-tabs-nav-container-scrolling{
      overflow: visible !important;
    }
  }
}