@import '~antd/lib/style/themes/default.less';

.main {
  width: 60%;
  & > h2 {
    text-align: center;
    // margin-bottom: 30px;
    color: #374551;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .logo{
    width: 100%;
    h2{
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    text-align: left;
    line-height: 22px;

    .register {
      float: right;
    }
  }
  :global{
    .ant-btn-primary{
      background-color: #3a99fe;
      border-color: #3a99fe;
    }
  }
}

.boxJump {
  background: #fff;
  font-size: 12px;
  text-align: center;
  padding: 8px 0;

  a {
    color: #000;
  }
}

.thirdBox {
  margin: 20px 0;
}

.thirdLoadingTitle {
  font-weight: 400;
  font-size: 14px;
  color: #595f69 !important;
}

.third {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  & > div {
    margin: 10px;
  }
  // & > div:nth-of-type(1) {
  //   margin-left: 0;
  // }
}

.thirdCol {
  &:hover {
    overflow: inherit !important;
  }

  cursor: pointer;
  overflow: hidden;

  a {
    p {
      color: #666666;
    }
  }
}
