.contentTitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  letter-spacing: 0;
  display: flex;
  align-items: center;

  span {
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }
}

// 组件切换滑动动画
:global {
  .page-zoom-enter {
    opacity: 0;
    transform: translate3d(25%, 0, 0);
    will-change: transform, opacity;
  }

  .page-zoom-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition:
      transform 700ms cubic-bezier(0.19, 1, 0.22, 1),
      opacity 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .page-zoom-enter-done {
    will-change: auto;
  }

  .page-zoom-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    will-change: transform, opacity;
  }

  .page-zoom-exit-active {
    opacity: 0;
    transform: translate3d(-15%, 0, 0);
    transition:
      transform 600ms cubic-bezier(0.19, 1, 0.22, 1),
      opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .page-zoom-exit-done {
    will-change: auto;
  }
}