.svgStyle{
    display: flex;
    align-items: center;
    span{
        margin-left: 6px;
    }
}
.dsahboard{
    color: #52c41a;
    span{
        color: #b7b7b7;
    }
}
.headerStyle{
    width: 100%;
    display: flex;
    div{
        width: 30%;
        text-align: center;
    }
}