.tar_image{
    
    width: 600px;
    height: 32px;
    line-height: 32px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 0px 12px;
}
.transform_svg{
    margin: 4px 0px;
    display: flex;
    justify-content: center;
    width: 600px;
}