@import "~antd/lib/style/themes/default.less";

.header {
  padding: 0 12px 0 0;
  background: @primary-color;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  position: relative;
}

.enterprise {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-size: 18px;
  padding-left: 1.5em;
  padding-right: .5em;
  height: 60px;
  line-height: 64px;
  margin-right: 30px;
  float: left;
  img{
    width: 140px;
    height: 22px;
  }

  svg {
    margin-right: 10px;
  }

  a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
}

.select {
  float: left;
  display: flex;
}

.itemBox {
  float: left;
  color: #fff;
}

.item {
  float: left;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;

  svg {
    margin-right: 10px;
  }
}
.item:hover{
  color: @primary-5;
  svg {
    fill:@primary-5 !important;
  }
}

.itemlink {
  color: rgba(255, 255, 255, 0.85);
}
.breadCrumb{
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
}
.itemseparator {
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.85);
}

.select:first {
  margin-right: 16px;
}

.uesrInfo {
  padding: 12px;
  background: #fff;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: background .3s, width .2s;
  transition: background .3s, width .2s;
  zoom: 1;

  :global {

    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border: none !important;
    }
  }
  
  :global{
    .ant-menu-item>.anticon{
      svg>path{
        fill:  rgba(51, 51, 51, 1) !important;
      }
    }
    .ant-menu-item:hover {
      .anticon{
        svg>path{
          fill:  @primary-color !important;
        }
      }
    }
  }
  li {
    font-size: @rbd-content-size !important;
    color: @rbd-content-color;
    line-height: @rbd-content-line-height!important;
    font-family: PingFangSC-Regular, PingFang SC;
    color: rgba(51, 51, 51, 1);
    height: @rbd-content-line-height !important;
    i {
      font-size: @rbd-content-size !important;
    }
  }
}

.noticeIcon {
  i {
    color: #fff
  }
}

:global {
  .ant-layout {
    /* overflow-x: hidden; */
    overflow: hidden;
  }
}

.logo {
  height: 64px;
  line-height: 58px;
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 24px;
  cursor: pointer;
  font-size: 20px;

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }

  :global(.ant-dropdown-menu-item) {
    width: 160px;
  }
}

i.trigger {
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: all .3s, padding 0s;
  vertical-align: middle;
  padding: 0 24px;

  &:hover {
    // background: @primary-1;
  }
}

.teamregion {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 35px 0 35px;

  .tit {
    margin-right: 10px;
    color: #ffffff;
  }

  .dropdown {
    color: #fff;
    cursor: pointer;
  }
}

.smShow {
  display: none;
}

@media screen and (max-width: 480px) {
  .teamregion {
    .tit {
      display: none;
    }
  }

  .smShow {
    display: inline-block;
  }

  .smHidden {
    display: none;
  }
}
.right {
  float: right;
  .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all .3s;
    line-height: 40px;
    >i {
      font-size: 16px;
      padding: 4px;
      color: #fff;
    }

    .name {
      color: #fff;
    }

  }

  .search {
    padding: 0;
    margin: 0 12px;

    &:hover {
      background: transparent;
    }
  }

  .account {
    .avatar {
      margin: 20px 8px 20px 0;
      color: @primary-color;
      background: rgba(255, 255, 255, .85);
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: @screen-md) {
  .header {
    background: #374551;

    :global(.ant-divider-vertical) {
      vertical-align: unset;
    }

    .name {
      display: none;
    }

    i.trigger {
      padding: 0 12px;
    }

    .logo {
      padding-right: 12px;
      position: relative;
    }

    .right {
      position: absolute;
      right: 12px;
      top: 0;
      background: #fff;

      .account {
        .avatar {
          margin-right: 0;
        }
      }
    }
  }
}
.nameBox{
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
:global {
  .ant-layout-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
