.titleStyle {
    display: flex;
    width: 100%;

    div {
        width: 20%;
        text-align: center;

        p {
            font-size: 14px;
            color: rgba(141, 155, 173, 1);
            font-weight: 500;

            span {
                color: #3d54c4;
                font-size: 20px;
                font-weight: bolder;
                margin-right: 4px;
            }
        }
    }
}

.chartsStyle {
    width: 100%;
    display: flex;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;


    }
    div:nth-of-type(4){
        p {
            margin-bottom: 0 !important;
            color: #2CC66A;
            font-size: 40px;
            margin-right: 6px;

            span {
                color: #8d9bad;
                font-size: 20px;
            }
        }

    }
    div:nth-of-type(5){
        p {
            margin-bottom: 0 !important;
            color: #2CC66A;
            font-size: 40px;
            margin-right: 6px;

            span {
                color: #8d9bad;
                font-size: 20px;
            }
        }

    }
}