.table {
	    border:1px solid #e8e8e8;
	    th {
	       white-space: nowrap;
	       padding: 8px 16px;
	       border-bottom: 1px solid #e8e8e8;
	       background: #fafafa;
	    }
	    td {
	       padding: 16px;
	       border:1px solid #e8e8e8;
	       
	    }
	    .label {color: #ccc;margin-right: 16px;}
	    p {
	    	margin-bottom: 0px;
	    	overflow:hidden;
	    }
	    
	    .lr {
	      	overflow:hidden;
	       .label {float:left;}
	       a {display: block;overflow:hidden;word-wrap: break-word; 
word-break: normal; }
	    }
}
.ul{
    list-style: none;
    :global{
        li {
            margin-bottom: 10px !important;
        }
    }
}
.tdPadding{
    :global{
        .ant-table-tbody tr td{
            padding: 8px 8px !important;
        }
    }
}
.cardstyle{
	h3{
		
		font-size: 16px;
		span{
			display: inline-block;
			min-width: 80px;	
			padding:0 20px;
			color: #808080;
		}
	}
	:global{
		.ant-input-group-wrapper{
			width: 200px;
		}
	}
}