.ul{
    list-style: none;
    :global{
        li {
            margin-bottom: 10px !important;
        }
    }
}

.tdPadding{
    :global{
        .ant-table-tbody tr td{
            padding: 8px 8px !important;
        }
    }
}
.valueStyle{
    width: 234px;
    text-align: center;
    white-space:'pre-wrap';
}