html,
body,
#root {
  height  : 100%;
  position: relative;
  z-index : 2;
}

.ant-layout {
  min-height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width : 100%;
  margin: 40px 0 !important;
}
.ant-spin-container {
  overflow: visible !important;
}

// 添加 notification 文字换行样式
.ant-notification-notice-message,
.ant-notification-notice-description {
  word-break: break-all !important;
}
