@import '~antd/lib/style/themes/default.less';
:global{
  .ant-table-thead > tr > th{
    background-color: #f5f6f8;
    padding: 6px 16px;
    color: #B2B2B5;
  }
  .ant-table-thead > tr > td{
    background-color: #f5f6f8;
    padding: 10px 16px;
    color: #B2B2B5;
  }
  .ant-card-head{
  background: #FAFBFE;
  }
  .ant-card-bordered{
    border-radius: 5px;
  }
}
.content {
  padding: 24px 0 0 0;
  background-color: #fff;
}
.mkContent{
  padding: 0;
  background-color: #fff;
}
.contents {
  padding: 0;
  background-color: #fff;
}
.footer {
  text-align: center;
  padding: 16px 0;
}
.customFooter {
  :global {
    .ant-pro-global-footer-links a:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .content {
    margin: 24px 0 0;
  }
  .contents {
    margin: 24px 0 0;
  }
}
